<div class="grid">

  <div class="col-2"></div>

  <div class="col-8">
    <div class="custom-border">

      <div class="flex justify-content-center flex-wrap">
        <div class="flex align-items-center justify-content-center">
          <h2>Mergentech Staj Başvuru Formu</h2>
        </div>
      </div>


      <div class="grid">

        <div class="col-12">
          <div class="form-section">
            <p>Adınız Soyadınız <span class="required">*</span></p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.adSoyad" required />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Mail Adresiniz <span class="required">*</span></p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.email" />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Telefon Numaranız <span class="required">*</span></p>
            <p-inputMask
              mask="(999) 999-9999"
              [(ngModel)]="basvuruForm.telefon" [style]="{'width':'100%','padding':'0.65rem'}"
              placeholder="(999) 999-9999">
            </p-inputMask>
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Üniversite <span class="required">*</span></p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.universite" />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Bölüm <span class="required">*</span></p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.bolum" />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Sınıfınız <span class="required">*</span></p>
            <div *ngFor="let category of sorgulamaTuruList" class="field-checkbox">
              <p-radioButton
                [inputId]="category.id.toString()"
                name="category"
                [value]="category"
                [(ngModel)]="basvuruForm.sinif"/>
              <label [for]="category.id" class="ml-2">
                {{ category.name }}
              </label>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Linkedin Linki</p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.linkedinLink" />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Github Linki</p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.githubLink" />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Cv Linki <span class="required">*</span></p>
            <input type="text" pInputText [(ngModel)]="basvuruForm.cvLink" />
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Staj Tercihi <span class="required">*</span></p>
            <div class="flex justify-content-start">
              <div class="flex flex-column gap-2">
                <div *ngFor="let category2 of departmanTuruList" class="field-checkbox">
                  <p-checkbox
                    [inputId]="category2.name"
                    [label]="category2.name" (onChange)="denemeee2(category2)"
                    name="group"
                    [(ngModel)]="selectedCategories" (click)="denemeMethod()"
                    [value]="category2"/>
                  <div *ngIf="( checkboxButtonGoster && category2.id === 9)">
                    <input type="text" class="ml-2" [style]="{'width': '200%'}" [pKeyFilter]="'alpha'">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <p>Programlama Dilleri <span class="required">*</span></p>
            <p-table [value]="dillerList" [tableStyle]="{ 'min-width': '30rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>Diller</th>
                  <th style="text-align:center" *ngFor="let rakam of seviyelerList">{{rakam.id}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-language>
                <tr>
                  <td>{{ language.name }}</td>
                  <td style="text-align:center" *ngFor="let rakam of seviyelerList">
                    <p-radioButton
                      [inputId]="language.name + '-' + rakam.id"
                      [name]="language.name"
                      [value]="rakam.id"
                      [(ngModel)]="ratingsMap[language.name]"
                      (click)="denemeeee(language, rakam)"
                    ></p-radioButton>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>


        <div class="card">
          <div class="col-12">
            <div class="form-section">
              <p>Staj Tarihini Seçiniz <span class="required">*</span></p>
              <div class="field-checkbox">
                <p-checkbox name="stajTarihi" value="1 Temmuz - 29 Temmuz" [(ngModel)]="selectedDates" inputId="date1"></p-checkbox>
                <label for="date1">1 Temmuz - 29 Temmuz</label>
              </div>
              <div class="field-checkbox">
                <p-checkbox name="stajTarihi" value="5 Ağustos - 2 Eylül" [(ngModel)]="selectedDates2" inputId="date2"></p-checkbox>
                <label for="date2">5 Ağustos - 2 Eylül</label>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <label for="acceptCheckbox" class="required-label">
              Eskişehir ofisinde yüz yüze staj katılımı gösterebilirim. </label>
            <div class="mt-2">
              <p-checkbox [(ngModel)]="accepted" binary="true" inputId="acceptCheckbox"></p-checkbox>
              <span> Kabul Ediyorum.</span>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="col-12">
            <div class="form-section">
              <label>Kişisel Verilerin İşlenmesine İlişkin Aydınlatma Metni</label>
              <a href="https://drive.google.com/file/d/18Vek7U8RhvqcRW05Qf7lohnXq7WK4iex/view?usp=sharing" target="_blank">
                Aydınlatma Metni
              </a>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="form-section">
            <label for="acceptCheckbox2" class="required-label">
              Kişisel Verilerin İşlenmesine İlişkin Aydınlatma Metni Kabulu</label>
            <div class="mt-2">
              <p-checkbox [(ngModel)]="accepted2" binary="true" inputId="acceptCheckbox2"></p-checkbox>
              <span> Kabul Ediyorum.</span>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="flex justify-content-between">
            <p-button label="Gönder" (click)="kaydet()" />
            <p-button [style]="{'border':'none'}" (onClick)="confirm1($event)" label="Formu temizle" [outlined]="true" />
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>


<p-toast />
<p-confirmDialog />


