<div *ngIf="showTable" style="text-align:left; margin-top: 16px;">
  <p-button label="Geri Dön" icon="pi pi-arrow-left" (click)="goBack()" [raised]="true" severity="secondary" [style]="{'background-color':'#3498db','border-color':'#3498db', 'font-size':'0.75rem'}"></p-button>
</div>
<div class="grid"  *ngIf="showFilter" style="display: flex; flex-wrap: wrap;">
  <div class="col-6" style="padding: 16px; border: 2px solid #35a8e0; border-radius: 4px;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" >
    <div class="grid" style="display: flex; flex-wrap: wrap;">
      <div class="col-4"  >
        <label>Adı Soyadı:</label>
        <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="parametre.adSoyad" [style]="{'width':'100%'}">
      </div>
      <div class="col-4"   >
        <label>Sınıf:</label>
        <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="parametre.sinif" [style]="{'width':'100%'}">
      </div>
      <div class="col-4"  >
        <label>Üniversite:</label>
        <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="parametre.universite" [style]="{'width':'100%'}">
      </div>
      <div class="col-4" >
        <label for="department">Bölüm:</label>
        <input class="p-inputtext-sm" id="department" type="text" pInputText [(ngModel)]="parametre.bolum" [style]="{'width':'100%'}">
      </div>
      <div class="col-4"  >
        <label for="internship">Staj Tercihi:</label>
        <input class="p-inputtext-sm" id="internship" type="text" pInputText [(ngModel)]="parametre.programlamaDil" [style]="{'width':'100%'}">
      </div>
      <div class="col-4"   >
        <label for="internshipDate">Staj Tarihi:</label>
        <input class="p-inputtext-sm" id="internshipDate" type="text" pInputText [(ngModel)]="parametre.tarih" [style]="{'width':'100%'}">

      </div>

      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4"  >
        <div style="text-align:right;">
          <p-button label="Filtrele" icon="pi pi-search" (click)="confirm1()" [raised]="true" severity="secondary" [style]="{'background-color':'#3498db','border-color':'#3498db', 'font-size':'0.75rem'}"></p-button>
        </div> </div>

    </div>
  </div>
</div>




<div class="grid" style="display: flex; flex-wrap: wrap" >
  <div class="col-12 "  style="flex: 1 1 100%;" >
    <div class="table-section" *ngIf="showTable">
      <p-table [value]="gelenVeriList" styleClass="p-datatable-gridlines" [tableStyle]="{ 'width': '100%'}">
        <ng-template pTemplate="header">

          <tr>
            <th>Adı ve Soyadı</th>
            <th>Sınıf</th>
            <th>Üniversite</th>
            <th>Bölüm</th>
            <th>Staj Tercihi</th>
            <th>Staj Tarihi</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td>{{rowData.adSoyad}} </td>
            <td>{{rowData.sinif}}</td>
            <td>{{rowData.universite}}</td>
            <td>{{rowData.bolum}}</td>
            <td>{{rowData.programlamaDil}}</td>
            <td>{{rowData.tarih}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>




